.App {
  text-align: center;
  background-color: #eaf1fd;
  height: 100vh;
  font-family: "Trirong", serif;
}

#avatar-wrap {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
}

#avatar-wrap img {
  vertical-align: middle;
  width: 96px;
  height: 96px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#avatar-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

#namespace {
  padding-top: 60px;
  margin-bottom: 20px;
}

#name {
  font-size: 23px;
  padding: 10px;
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Noto Serif', serif; */
  /* font-family: "Sofia", sans-serif; */
  /* font-family: 'Playfair', serif; */
  /* font-family: 'Quattrocento', serif; */
  /* font-family: 'Josefin Slab', serif; */
  font-family: 'Yeseva One', cursive;
}